# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/js/bower_components